<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAR3xWZxxtTqFqugaLOnJ3M1Wa2CNXjI_w</string>
	<key>GCM_SENDER_ID</key>
	<string>6157852440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groupChatFlutter</string>
	<key>PROJECT_ID</key>
	<string>group-chat-firebase-3ab95</string>
	<key>STORAGE_BUCKET</key>
	<string>group-chat-firebase-3ab95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6157852440:ios:fefaf7d49ef0b4a449086d</string>
</dict>
</plist>